body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #12311B;
}
.window {
  width: 100svw;
  height: 100svh;
  margin: 0;
  padding: 0;
}

.background-white {
  background-color: #ffffff;
}

.background-green {
  color: #12311B;
}

.swiper-button-next, .swiper-button-prev {
  color: #12311B;
}

.slide-background {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 60%,
    #12311B 60%,
    #12311B 100%
  );
}

.top-slide {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-slide-upper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 60%;
}

.top-slide-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  width: 100%;
}

.top-slide-logo {
  width: auto;
  height: 280px;
}

.top-right-logo {
  width: 100px;
  height: auto;
  position: absolute;
  right: 40px;
  top: 40px;
}

.top-slide-title {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #12311B;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 200;
}

h2 {
  color: #1a1a1a;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 200;
}

h3 {
  color: #12311B;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
}

.info-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  row-gap: 10px;
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: #12311B;
}

.info-item-title {
  grid-column: 1;
  font-weight: 300;
  font-size: 20px;
  padding-right: 10px;
}

.info-item-content {
  grid-column: 2;
  font-weight: 200;
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: #0E2415;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.text-slide-upper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 35%;
}

.text-slide-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 65%;
}

.text-slide-title {
  text-align: center;
  margin-bottom: 50px;
}

.text-slide-content {
  max-width: 60%;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-2 {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #12311B;
  height: 50px;
  width: 100%;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer > p {
  margin-right: 50px;
  font-weight: 100;
  font-size: 15px;
  line-height: 50px;
}

.box-gray {
  background-color: #f9f9f9;
  padding: 20px;
}
